.posts {
    padding-left: 30px;
    margin-bottom: 20px;
}

.postsTitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.newPost {
    display: flex;
    flex-direction: column;
}

.newPostText {
    align-self: stretch;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 20px;
    flex: 1 0 200px;
}

.error {
    color: red;
}

.send {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
}

.postsItems {
}