.userBlock {
    padding-left: 50px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.user {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.user button {
    font-size: 20px;
    cursor: pointer;
    min-width: 100px;
}

.avatar {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.userInfo {
    flex: 1 1 auto;
    border: 1px solid #555;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

.userInfoColumn:first-child {
    padding-right: 20px;
}

.name {
    margin-bottom: 20px;
}

.status {
    font-size: 20px;
    font-weight: normal;
}

.uniqueUrlName {
    margin-bottom: 20px;
}

.userId {
    font-size: 20px;
}
