.header {
    background-color: #6bcb6b;
    padding: 10px 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.loginName{
    margin-bottom: 10px;
}

.logout{
    cursor: pointer;
    font-size: 18px;
}