.navbar {
    flex: 0 0 200px;
    background-color: #6bcb6b;
    margin-right: 10px;
    padding: 10px;
}

.navList {
}

.navListItem {
}

.navListItem a {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.navListItem:last-child {
    margin: 30px 0;
}
a.active {
    color: gold;
}

.friends {
}

.title {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.friendsBlock {
    display: flex;
    flex-wrap: wrap;
}
