.paging {
    display: flex;
    flex-wrap: wrap;
}

.prevButton{
    margin-right: 10px;
    cursor: pointer;
}
.nextButton{
    margin-left: 10px;
    cursor: pointer;
}

.page {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    color: #333;
}

.currentPage {
    background-color: #6bcb6b;
    color: #fff;
}