.dialog {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
}

.active {
    color: gold;
    font-size: 34px;
}
.avatar {
    flex: 0 0 100px;
    border-radius: 50%;
    overflow: hidden;
}