body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.main {
    display: flex;
}
.content {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.active {
    color: gold;
}
