.container {
    display: flex;
    padding-top: 30px;
}

.dialogs {
    flex: 0 1 300px;
    border-right: 2px solid #333;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.dialogs a {
    text-decoration: none;
}

.messages {
    padding-left: 30px;
    flex: 1 1 auto;
}